<div class="container">
  <div class="container-left">
    <div class="container-left-text">
      <h1 class="heading-primary">
        You'll never travel without our trip planner again
      </h1>
      <p class="heading-secondary">
        Build, organize, and map your itineraries in a free travel app designed for vacations & road trips
      </p>
    </div>
    <div class="container-left-cta">
      <div class="container-left-cta-primary">
        <button>Start planning</button>
      </div>
      <div class="container-left-cta-secondary">
        <button>Get the app</button>
      </div>
    </div>
  </div>

  <div class="container-right">
    <div class="container-right-img">
      <img src="assets/rightSideImage.png" alt="" srcset="">
    </div>
  </div>
</div>
<app-features></app-features>
