//color schemes
$primary-color:#f75940;

$secondary-color:#ffffff;
$dark-gray:#2c365d;
$light-gray:#6c757d;
$lightest-gray:#f3f4f5;
$black-color:#212529;
$blue-color:#3f52e3;
//font style
$primary-font :  'Source Sans 3', sans-serif;

//button styles
$secondary-button-bg-color:#feefed;
$secondary-button-text-color:$primary-color;
$disabled-color:#de503a;
