/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@200;300;400;500;600;700;800;900&display=swap');// <uniquifier>: Use a unique and descriptive class name
@import './fonts/typography.scss';
@import './abstracts/variables.scss';
@import './abstracts/mixins/buttons.scss';
@import './abstracts/static.scss';
body {
  font-family: 'Source Sans 3', sans-serif;
}

html, body { height: 100%; font-size: 62.5% ; }
body { margin: 0; }
