@import '/src/styles/styles.scss';
.login-with-google{
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
  background-color: $secondary-color;
  border: 1px solid  #eff7ff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 35px;
  width: 65%;
  padding: 8px 16px;
  margin: 16px 0;
  img{
    width: 24px;
    height: 24px;
  }
  h2{
    font-size: 14px;
    color: $light-gray;
  }

}
.login-with-google:hover{
  background-color: $lightest-gray;
  border: 1px solid #3333;
}

.container{
  @include flexCenterColumn;
}
.form-wrapper{
  form{
    @include flexCenterColumn;
  }
  width: 100%;
  mat-form-field{
    width: 70%;
  }
}
.form-submit{
  display: flex;
  flex-direction: column;
  gap: 10px;
  span{
    font-size: 14px;
  }
  button {
    @include dialogButton;
}
}
