@import '/src/styles/styles.scss';

.container {
  h2 {
    text-align: center;
  }
}

.form-wrapper {
  form {
    @include flexCenter;
  }

  width: 100%;

  mat-form-field {
    // width: 70%;
  }
}

.form-submit {
  display: flex;
  flex-direction: column;
  gap: 10px;

  span {
    font-size: 14px;
  }

  button {
    @include dialogButton;
  }
}