<mat-toolbar class="container">
  <div class="header-left">
    <div class="logo-with-text">
      <img src="assets/logo.png" alt="" srcset="">
      <p>Roamly</p>
    </div>

    <div class="nav-links">
      <ul>
        <li  class="heading-tertiary">
          Home
        </li>
        <li class="heading-tertiary">
          Travel guides
        </li>
        <li class="heading-tertiary">
          Hotels
        </li>
      </ul>
    </div>
  </div>

  <div class="header-right">

    <div class="input-textbox">
      <mat-form-field appearance="outline">
        <mat-icon matPrefix>search</mat-icon>
        <input matInput placeholder="Explore by destintaion">
      </mat-form-field>
    </div>

    <div class="header-right-cta">

    </div>
  </div>
</mat-toolbar>
<mat-divider></mat-divider>
