<mat-toolbar class="container">
  <div class="header-left">
    <div class="logo-with-text">
      <img src="assets/logo.png" alt="" srcset="">
      <p>Roamly</p>
    </div>

    <div class="nav-links">
      <ul>
        <li  class="heading-tertiary">
          Home
        </li>
        <li class="heading-tertiary">
          Travel guides
        </li>
        <li class="heading-tertiary">
          Hotels
        </li>
      </ul>
    </div>
  </div>

  <div class="header-right">

    <div class="input-textbox" *ngIf="!isPhoneScreen">
      <mat-form-field appearance="outline">
        <mat-icon matPrefix>search</mat-icon>
        <input matInput placeholder="Explore by destintaion" (input)="searchDestination($event)">
      </mat-form-field>
    </div>
    <div class="input-textbox-search" *ngIf="isPhoneScreen" (click)="toggleSearchModal()">
        <mat-icon matPrefix>search</mat-icon>
    </div>

    <div class="header-right-cta" *ngIf="!isLoggedIn">
      <div class="header-right-cta-login">
        <button (click)="openLoginDialog(false)">Log in</button>
      </div>
      <div class="header-right-cta-signup">
        <button (click)="openLoginDialog(true)">Sign up</button>
      </div>
    </div>
    <div class="header-right-avatar" *ngIf="isLoggedIn">
      <div class="avatar">
        {{ userNameInitial }}
      </div>
    </div>
  </div>
</mat-toolbar>
<app-search-modal *ngIf="showSearchModal" (searchEvent)="handleSearchEvent()"></app-search-modal>

<mat-divider></mat-divider>
